.list {
  display: grid;
  grid-template-columns: 1fr 7fr;
  width: 70%;
  margin: auto;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
}

.emptylist {
  width: 50%;
  margin: auto 30%;
  gap: 20px;
  padding: 30px;
}

.filter {
  display: grid;
  align-items: center;
  justify-content: start;
  padding: 30px 140px;
  gap: 20px;
  background-color: #f8f8f8;
}

.pagination {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
